In [128]:
import pandas as pd

In [129]:
#Load Data
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')

In [130]:
# Group your data
air_data_grouped = air_data.groupby('sensor.name')

In [131]:
# Summary stats on PM2.5

# Groups the PM2.5 data into different stastical stats

air_data_pm25 = air_data_grouped.agg(max = ('pm2.5_atm', 'max'),
                                     min = ('pm2.5_atm', 'min'),
                                     median = ('pm2.5_atm', 'median'),
                                     mean = ('pm2.5_atm', 'max'))
# Find the top 5 Mean

top5_mean_pm25 = (
    air_data_pm25.sort_values(by = 'mean', ascending = False)
)

top5_mean_pm25.head(5)

,max,min,median,mean
sensor.name,,,,
#16 - Richardson County Courthouse,3782.823313,0.243729,11.977344,3782.823313
Broken Bow,3205.868854,0.019187,36.050240,3205.868854
Swnphd-mccook,3053.114292,0.020000,4.582281,3053.114292
#18 - Southeast District Health Department- Tecumseh,2987.467563,0.140708,10.322875,2987.467563
TRPHD Dawson Co. Courthouse 25,2363.017646,0.033188,5.776813,2363.017646

In [132]:
# Find the top 5 Median

top5_median_pm25 = (
    air_data_pm25.sort_values(by = 'median', ascending = False)
)

top5_median_pm25.head(5)

,max,min,median,mean
sensor.name,,,,
Broken Bow,3205.868854,0.019187,36.050240,3205.868854
#16 - Richardson County Courthouse,3782.823313,0.243729,11.977344,3782.823313
#18 - Southeast District Health Department- Tecumseh,2987.467563,0.140708,10.322875,2987.467563
ELVPHD Norfolk HD 4,79.972917,0.307896,9.706229,79.972917
ELVPHD Wisner HD 5,51.984812,0.154271,8.464583,51.984812

In [133]:
# Summary stats on PM 10.0

# Groups the PM10.0 data into different stastical stats

air_data_pm10 = air_data_grouped.agg(max = ('pm10.0_atm', 'max'),
                                     min = ('pm10.0_atm', 'min'),
                                     median = ('pm10.0_atm', 'median'),
                                     mean = ('pm10.0_atm', 'max'))
# Find the top 5 Mean

top5_mean_pm10 = (
    air_data_pm10.sort_values(by = 'mean', ascending = False)
)

top5_mean_pm10.head(5)

,max,min,median,mean
sensor.name,,,,
#16 - Richardson County Courthouse,3784.682542,0.473583,13.305615,3784.682542
Broken Bow,3206.779708,0.089917,43.179094,3206.779708
Swnphd-mccook,3054.484250,0.169167,5.372073,3054.484250
#18 - Southeast District Health Department- Tecumseh,2988.441438,0.205729,11.433729,2988.441438
TRPHD Dawson Co. Courthouse 25,2367.085500,0.182792,7.329708,2367.085500

In [134]:
# Find the top 5 Median

top5_median_pm10 = (
    air_data_pm10.sort_values(by = 'median', ascending = False)
)

top5_median_pm10.head(5)

,max,min,median,mean
sensor.name,,,,
Broken Bow,3206.779708,0.089917,43.179094,3206.779708
#16 - Richardson County Courthouse,3784.682542,0.473583,13.305615,3784.682542
ELVPHD Norfolk HD 4,95.131583,0.756229,11.474708,95.131583
#18 - Southeast District Health Department- Tecumseh,2988.441438,0.205729,11.433729,2988.441438
ELVPHD Wisner HD 5,75.461354,0.698958,10.935958,75.461354

In [135]:
# Summary stats on VOC

# Groups the VOC data into different stastical stats

air_data_voc = air_data_grouped.agg(max = ('voc', 'max'),
                                     min = ('voc', 'min'),
                                     median = ('voc', 'median'),
                                     mean = ('voc', 'max'))
# Find top 5

top5_mean_voc = (
    air_data_voc.sort_values(by = 'mean', ascending = False)
)

top5_mean_voc.head(5)

                             max        min      median         mean
sensor.name
Swnphd-ogallala      1209.931571  61.427708  423.082292  1209.931571
SWNPHD-Imerial       1135.473000   0.000000  279.739104  1135.473000
ELVPHD Norfolk HD 4   884.649000   0.000000  368.580500   884.649000
FCHD-YPS              856.012625  54.998000  375.383500   856.012625
Swnphd-mccook         849.734917   0.000000  381.468479   849.734917

In [136]:
# Sort by max PM2.5

pm25_top5 = air_data.sort_values(by="pm2.5_atm", ascending=False)

# Use the name and date for the PM2.5

pm25_top5_when_where = pm25_top5[
['date', 'sensor.name', 'pm2.5_atm']
]

pm25_top5_when_where.head(5)

          date                         sensor.name    pm2.5_atm
7561  02/18/25  #16 - Richardson County Courthouse  3782.823313
7583  02/19/25  #16 - Richardson County Courthouse  3401.999333
7605  02/20/25  #16 - Richardson County Courthouse  3243.746646
6962  01/21/25  #16 - Richardson County Courthouse  3209.817146
7572  02/18/25                          Broken Bow  3205.868854

In [137]:
# Sort by max PM10

pm10_top5 = air_data.sort_values(by="pm10.0_atm", ascending=False)

# Use the name and date for the PM10.0

pm10_top5_when_where = pm10_top5[
['date', 'sensor.name', 'pm10.0_atm']
]

pm10_top5_when_where.head(5)

          date                         sensor.name   pm10.0_atm
7561  02/18/25  #16 - Richardson County Courthouse  3784.682542
7583  02/19/25  #16 - Richardson County Courthouse  3403.435958
7605  02/20/25  #16 - Richardson County Courthouse  3245.613354
6962  01/21/25  #16 - Richardson County Courthouse  3211.046813
7572  02/18/25                          Broken Bow  3206.779708

In [138]:
# Sort by max VOC

voc_top5 = air_data.sort_values(by="voc", ascending=False)

# Use the name and date for the VOC

voc_top5_when_where = voc_top5[
['date', 'sensor.name', 'voc']
]

voc_top5_when_where.head(5)

          date          sensor.name          voc
2391  06/24/24      Swnphd-ogallala  1209.931571
4795  10/05/24       SWNPHD-Imerial  1135.473000
5774  11/23/24       SWNPHD-Imerial  1041.722000
4948  10/12/24  ELVPHD Norfolk HD 4   884.649000
5024  10/16/24       SWNPHD-Imerial   871.182000

In [139]:
#Assign temperature to different sections

def assign_temperature(temperature): 
    if temperature < 32:
        return 'Below Freezing'
    elif 32 <= temperature <= 50:
        return 'Cool'
    elif 50 < temperature <= 70:
        return 'Warm'
    elif 70 < temperature <= 1000:
        return 'Hot'
    else:
        return 'No Data' 


air_data['temperature_level'] = air_data['temperature'].apply(assign_temperature)

#Assign humidity to different sections

def assign_humidity(humidity): 
    if humidity < 50:
        return 'Low Humidity'
    elif 50 <= humidity <= 80:
        return 'High Humidity'
    elif 80 <= humidity <= 10000:
        return 'Very High Humidity'
    else:
        return 'No Data'

air_data['humidity_level'] = air_data['humidity'].apply(assign_humidity)

#Assign Altitude to different sections

def assign_altitude(altitude): 
    if altitude < 1000:
        return 'Low'
    elif 1000 <= altitude <= 2500:
        return 'Medium'
    else: 
        return 'High'

air_data['altitude_level'] = air_data['sensor.altitude'].apply(assign_altitude)

In [140]:
# Find Correlation of Temperature and Humidity to the PM2.5 using Charts of the top 5 worst

pm25_top5 = air_data.sort_values(by="pm2.5_atm", ascending=False)

pm25_top5_humidity_temperature = pm25_top5[
['sensor.name', 'pm2.5_atm', 'temperature_level', 'humidity_level']
]

pm25_top5_humidity_temperature.head(5)

,sensor.name,pm2.5_atm,temperature_level,humidity_level
7561,#16 - Richardson County Courthouse,3782.823313,No Data,No Data
7583,#16 - Richardson County Courthouse,3401.999333,No Data,No Data
7605,#16 - Richardson County Courthouse,3243.746646,No Data,No Data
6962,#16 - Richardson County Courthouse,3209.817146,No Data,No Data
7572,Broken Bow,3205.868854,Below Freezing,Low Humidity

In [141]:
# Find Correlation of Temperature and Humidity to the PM2.5 using Charts of the top 5 worst

pm10_top5 = air_data.sort_values(by="pm10.0_atm", ascending=False)

pm10_top5_humidity_temperature = pm10_top5[
['sensor.name', 'pm10.0_atm', 'temperature_level', 'humidity_level']
]

pm10_top5_humidity_temperature.head(5)

,sensor.name,pm10.0_atm,temperature_level,humidity_level
7561,#16 - Richardson County Courthouse,3784.682542,No Data,No Data
7583,#16 - Richardson County Courthouse,3403.435958,No Data,No Data
7605,#16 - Richardson County Courthouse,3245.613354,No Data,No Data
6962,#16 - Richardson County Courthouse,3211.046813,No Data,No Data
7572,Broken Bow,3206.779708,Below Freezing,Low Humidity

In [142]:
# Find Correlation of Temperature and Humidity to the VOC using Charts of the top 5 worst

voc_top5 = air_data.sort_values(by="voc", ascending=False)

voc_top5_humidity_temperature = voc_top5[
['sensor.name', 'voc', 'temperature_level', 'humidity_level']
]

voc_top5_humidity_temperature.head(5)

              sensor.name          voc temperature_level humidity_level
2391      Swnphd-ogallala  1209.931571               Hot   Low Humidity
4795       SWNPHD-Imerial  1135.473000               Hot   Low Humidity
5774       SWNPHD-Imerial  1041.722000              Warm   Low Humidity
4948  ELVPHD Norfolk HD 4   884.649000               Hot   Low Humidity
5024       SWNPHD-Imerial   871.182000               Hot   Low Humidity

In [143]:
# Find Unhealthy Events in data

unhealthy_events = air_data[(air_data['pm2.5_atm'] >= 35.5) & (air_data['pm10.0_atm'] >= 155)]

# Sort by the date

unhealthy_events_sorted = unhealthy_events[
['date', 'sensor.name', 'pm2.5_atm', 'pm10.0_atm']
]

unhealthy_events_sorted

,date,sensor.name,pm2.5_atm,pm10.0_atm
2092,06/12/24,FCHD-YPS,363.201104,364.240104
2144,06/14/24,Loup Basin Public Health Department,230.482438,231.757021
2443,06/27/24,Swnphd-Benklemen,188.156771,188.977500
3016,07/20/24,#16 - Richardson County Courthouse,1164.533750,1165.022417
3041,07/21/24,#16 - Richardson County Courthouse,1355.784542,1356.120563
...,...,...,...,...
8274,03/23/25,Swnphd-mccook,981.919875,982.185500
8291,03/24/25,#18 - Southeast District Health Department- Te...,1692.498333,1692.793896
8293,03/24/25,NCDHD O'Neill #11,1714.236813,1714.360500
8294,03/24/25,Broken Bow,1713.840375,1713.964083
8295,03/24/25,Swnphd-mccook,563.337313,564.363833

In [144]:
# Find correlation between altitude and the pm2.5

pm25_top5 = air_data.sort_values(by="pm2.5_atm", ascending=False)

pm25_top5_altitude = pm25_top5[
['sensor.name', 'pm2.5_atm', 'altitude_level']
]

pm25_top5_altitude.head(10)

                             sensor.name    pm2.5_atm altitude_level
7561  #16 - Richardson County Courthouse  3782.823313         Medium
7583  #16 - Richardson County Courthouse  3401.999333         Medium
7605  #16 - Richardson County Courthouse  3243.746646         Medium
6962  #16 - Richardson County Courthouse  3209.817146         Medium
7572                          Broken Bow  3205.868854           High
7616                          Broken Bow  3179.970687           High
7594                          Broken Bow  3178.763917           High
6952                          Broken Bow  3087.149167           High
7429  #16 - Richardson County Courthouse  3079.773604         Medium
7573                       Swnphd-mccook  3053.114292           High

In [145]:
# Find correlation between altitude and the pm10.0

pm10_top5 = air_data.sort_values(by="pm10.0_atm", ascending=False)

pm10_top5_altitude = pm10_top5[
['sensor.name', 'pm10.0_atm', 'altitude_level']
]

pm10_top5_altitude.head(10)

                             sensor.name   pm10.0_atm altitude_level
7561  #16 - Richardson County Courthouse  3784.682542         Medium
7583  #16 - Richardson County Courthouse  3403.435958         Medium
7605  #16 - Richardson County Courthouse  3245.613354         Medium
6962  #16 - Richardson County Courthouse  3211.046813         Medium
7572                          Broken Bow  3206.779708           High
7616                          Broken Bow  3182.551396           High
7594                          Broken Bow  3179.655896           High
6952                          Broken Bow  3088.053896           High
7429  #16 - Richardson County Courthouse  3081.850688         Medium
7573                       Swnphd-mccook  3054.484250           High

In [146]:
# Find correlation between altitude and the pm2.5

voc_top5 = air_data.sort_values(by="voc", ascending=False)

voc_top5_altitude = voc_top5[
['sensor.name', 'voc', 'altitude_level']
]

voc_top5_altitude.head(10)

                         sensor.name          voc altitude_level
2391                 Swnphd-ogallala  1209.931571           High
4795                  SWNPHD-Imerial  1135.473000           High
5774                  SWNPHD-Imerial  1041.722000           High
4948             ELVPHD Norfolk HD 4   884.649000         Medium
5024                  SWNPHD-Imerial   871.182000           High
7884                        FCHD-YPS   856.012625         Medium
5832                  SWNPHD-Imerial   851.927667           High
2634                   Swnphd-mccook   849.734917           High
8180  TRPHD Dawson Co. Courthouse 25   842.127417         Medium
4338             ELVPHD Tekamah HD 3   810.410375         Medium